@model IEnumerable<EmployeeManagement.Models.EmployeModel>

@{
    ViewData["Title"] = "Employee List";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h2>Employee List</h2>
<button id="deleteSelected" class="btn btn-danger" style="display:none;">Delete Selected</button>


<table class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" id="CheckAll" /></th>
          
            <th>ID</th>
            <th>Company Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>

                <td><input type="checkbox" class="check" data-id="@employee.Id" /></td>
                <td>@employee.Id</td>
                <td>@employee.CompanyName</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Mobile</td>
                <td>@employee.Address</td>
                <td>@employee.City</td>
                <td>@employee.Pincode</td>
                <td >
                    <div class="action-buttons">
                    <a  asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                  
            
                    <form action="DeactivateEmployee" method="post">
                         <input type="hidden" name="id" value="@employee.Id" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</button>
                      </form>
                
                
                        <a asp-action="ViewEmployee" asp-route-id="@employee.Id" lass="btn btn-secondary">View</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#CheckAll').click(function () {
                $('.check').prop('checked', this.checked);
                $('#deleteSelected').toggle($('.check:checked').length > 0);
            });

            $('.check').change(function () {
                $('#deleteSelected').toggle($('.check:checked').length > 0);
            });

            $('#deleteSelected').click(function () {
                var ids = [];
                $('.check:checked').each(function () {
                    ids.push($(this).data('id'));
                });

                $.ajax({
                    url: '@Url.Action("DeleteSelectedEmployees", "Employe")',
                    type: 'POST',
                    data: { ids: ids },
                    success: function (result) {
                        location.reload();
                    }
                });
            });
        });
    </script>
}


