@model EmployeeManagement.Models.EmployeModel

<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
</head>
<body>
    <div>
        <h2><span style="color:cyan">WeLcOmE</span> <span style="color:crimson">@Model.Name</span> ! <span style ="color:cyan">See Your Details</span></h2><br /><br />
        <p hidden><strong>ID:</strong> @Model.Id</p>
        <p><strong>Company Name:</strong> @Model.CompanyName</p>
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Mobile:</strong> @Model.Mobile</p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>City:</strong> @Model.City</p>
        <p><strong>Pincode:</strong> @Model.Pincode</p>
    </div>
</body>
</html>
