@model MyCaRt.Models.CustomerModel

@{
    ViewData["Title"] = "ViewProfile";
}
@if (TempData["SavedChanges"] != null)
{
    <div class="alert alert-success">
        @TempData["SavedChanges"]
    </div>
}
@{
    var userId = @ViewBag.UserId; // Default to 0 if session value is null
}
<style>
    .img-circle {
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-header {
        text-align: center;
    }

        .profile-header img {
            width: 150px;
            height: 150px;
        }

    .profile-details dt {
        font-weight: bold;
    }
</style>

<div class="container mt-5">
    <div class="card">
        <div class="card-header profile-header">
            <h2>Profile</h2>
            @if (!string.IsNullOrEmpty(Model.FilePath))
            {
                <img src="@Model.FilePath" alt="Profile Image" class="img-circle" />
            }
            else
            {
                <span>No image available</span>
            }
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="row profile-details">
                        <dt class="col-sm-3">Customer ID</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_Id)</dd>

                        <dt class="col-sm-3">First Name</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_FName)</dd>

                        <dt class="col-sm-3">Last Name</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_LName)</dd>

                        <dt class="col-sm-3">Gender</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_Gender)</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_Email)</dd>

                        <dt class="col-sm-3">Mobile</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_Mobile)</dd>

                        <dt class="col-sm-3">Interested Categories</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Customer_InterestedCategory)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            @Html.ActionLink("Update Profile", "Edit", "Customer", new { id = userId }, new { @class = "btn btn-primary" })
            <form asp-controller="Customer" asp-action="Deactivate" method="post" class="d-inline-block" style="display: inline-block;">
                <input type="hidden" name="id" value="@ViewBag.UserId" />
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this account?')">Delete Account</button>
            </form>
        </div>
    </div>
</div>
